<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">How Homza came to be.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Who's up?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Homza was born from a simple need: are my awesome room-mates home? Other questions as relevant followed: whn is the next subway? Will I need my umbrella? What's that moving dot in the sky? A UFO?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">A shared space has a life of its own</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wether it's flast-sharing or a shared workspace, the people connected through that space form a community with its own problems, needs, and amazing moments. Homza makes sharing and enjoying the space easier.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Share who you are, where you are</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Most of who you are is based on the media you consume. Today, who you are is shreded through the cloud on Netflix, Spotify, Youtube, LastFM, and others. Wether it is the space where you live or work, sharing who you are with who you live with will increase productivty and confort (or at least, that's what we believe in). </p>
                                </div>
                            </div>
                        </li>
                       <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
