<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Homza</title>
  </head>
  <body>
    <main id="content">
      <h1
        v-if="home.name"
        class='title-with-background'
        style="background-image: url('{{ home.background }}');"
      >{{ home.name }}</h1>
      <h1 v-else>Welcome to your House</h1>
      <content>
        <user v-for='user in users'
          :is-here='user.value.isHere'
          :name='user.value.name'
          :image='user.value.image'
        >
        </user>
      </content>
      <content>
        <iss
          :next-date='iss.date'
          :duration='iss.duration'
        >
        </iss>
        <weather
          :weather='weather'
        >
        </weather>
      </content>
    </main>
    <script src="dist/build.js"></script>
  </body>
</html>
