<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Homza</title>
  </head>
  <body>
    <main id="content">
      <div
        v-if="home.name"
        title='SSID: {{ home.SSID }}\nPwd: {{ home.password }}'
        style="background-image: url('{{ home.background }}');"
        class='title-with-background'
      >
        <h1>{{ home.name }}</h1>
      </div>
      <h1 v-else>Welcome to your House</h1>
      <content>
        <user v-for='user in users'
          :name='user.value._id'
        >
        </user>
      </content>
      <content>
        <iss>
        </iss>
        <weather>
        </weather>
        <metro>
        </metro>
      </content>
    </main>
    <script src="dist/build.js"></script>
  </body>
</html>
